/* General Settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
html {
    height: 100%;
}

/* Body Settings */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}
/* Hover Effect on Links */
header nav a {
    text-decoration: none;
    color: #dced5c;
}
a:hover {
    color: rgb(195, 208, 147);
    /* Culoarea la hover pentru link-uri */
}